@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@inject Microsoft.Extensions.Options.IOptions<NewBookAlertConfig> _newbookalertconfig
@{ 
    var newbookalertconfig = _newbookalertconfig.Value;
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@_configuration["AppName"]</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="GetAllBooks">All Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="addnewbook">Add New Book</a>
                    </li>
                </ul>
                <form class="d-flex">
                   <partial name="_logininfo"></partial>
                   
                </form>
            </div>
        </div>
    </nav>
    @*<div class="alert alert-info" role="alert">
       This is our message
    </div>*@
    @if (_newbookalertconfig.Value.DisplayNewBookAlert)
    {
        <div class="alert alert-info" role="alert">
            @newbookalertconfig.BookName
        </div>
    }


</header>