@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
    <a class="nav-link">Hello @User.FindFirst("UserFirstName").Value</a>
    <a class="btn btn-outline-primary mr-1" asp-controller="Account" asp-action="Logout">Log Out</a>
    <a class="btn btn-outline-primary mr-1" asp-controller="Account" asp-action="ChangePassword">Change Password</a>

}
else
{<a class="btn btn-outline-primary mr-1" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
    <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Signup">Register</a>

}
