@model Webgentle.Models.BookModel
@{
    ViewData["Title"] = "Addnewbook";

}


@if (ViewBag.IsSuccess ==true)
{

    <div class="alert alert-success" role="alert">
        A simple success alert—check it out!<a asp-action="GetBook" asp-controller="Book" asp-route-id="@ViewBag.BookId">Here</a>
    </div>
}
<div class="container">
    <form method="post" enctype="multipart/form-data" asp-controller="Book" asp-action="Addnewbook">
        <h1>Addnewbook</h1>

        <div class="form-group">
            <label asp-for="LanguageId"></label>
            <select asp-for="LanguageId" asp-items="ViewBag.language" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>

        </div>
        <div class="form-group">
            <label asp-for="TotalPages"></label>
            <input asp-for="TotalPages" class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="CoverPhoto" class="control-label"></label>
            <div class="custom-file">

                <input class="form-control" asp-for="CoverPhoto" id="formFile">
            </div>

        </div>
        <div class="form-group">
            <label asp-for="GalleryFiles" class="control-label"></label>
            <div class="custom-file">

                <input class="form-control" asp-for="GalleryFiles" id="formFile">
            </div>

        </div>


        <div class="form-group">
            <input type="submit" value="Add Book" class="btn btn-primary" />

        </div>

    </form>
</div>
@section scripts{ 

<script>
    function myComplete() {
        alert("I am complete");
    }

</script>

}